services:
  bot:
    build: none
    image: ${GHCR_IMAGE}:latest
    volumes: []
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - internal

networks:
  muflon_bot_internal:
    external: true
